

.tool-box {
    &__inner {
        .title {
            font-size: 24px;
            margin-bottom: 25px;
            font-weight: 800;
            font-family: sarabun;
            color: #66E07D;
        }
        .proc-box {
            position: relative;
            background: #fff;
            border-radius: 10px;
            padding: 15px;
            box-shadow: 0px 30px 60px #0000000a;
            .de-active {
                a.parrent-item {
                    color: #d8d8d8 !important;
                    pointer-events: none;
                    i {
                        color: #e6e6e6 !important;
                    }
                }
                .bordered-btn {
                    pointer-events: none;
                }
            }
            &__item {
                a.parrent-item {
                    font-family: sarabun;
                    display: block;
                    padding: 6px;
                    color: #505050;
                    text-decoration: none !important;
                    font-weight: 200;
                    font-size: 16px;
                    position: relative;
                    i {
                        position: absolute;
                        right: 0;
                        color: #66E07D;
                        transition: all 0.3s;
                        top: 9px;
                    }
                }
                .bordered-btn {
                    border: none;
                    color: #66E07D !important;
                    padding: 0px;
                    margin-top: 0px;
                    border-radius: 25px;
                    text-align: left;
                    display: inline-block;
                }
                

                .data-select {
                    padding: 10px;
                    display: none;
                    a {
                        display: block;
                        width: 100%;
                        background: #fbfbfb;
                        text-align: center;
                        padding: 16px;
                        border-radius: 50%;
                        color: #66E07D;
                        margin-bottom: 15px;
                        transition: all 0.3s;
                        &:hover {
                            color: #fff;
                            background: #66E07D;
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }
    }
}


.rotate-icon {
    transform: rotate(45deg);
    transition: all 0.3s;
}