<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
		<title>Index</title>
		<meta name="description" content="Description">
		<meta name="keywords" content="social content network, social network">
		<meta name="robots" content="index">
		<meta name="author" content="Author">
		<meta name="designer" content="Designer">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	
		<!-- Facebook -->
		<meta property="og:title" content="Title">
		<meta property="og:site_name" content="Site Name">
		<meta property="og:description" content="Description">
		<meta property="og:url" content="/_url">
		<meta property="og:image" content="assetss/images/img-to-share.jpg">
		<meta property="og:type" content="website">
	
		<!-- Google+ -->
		<meta itemprop="name" content="Name">
		<meta itemprop="description" content="Description">
		<meta itemprop="image" content="assetss/images/img-to-share.jpg">
	
		<!-- Twitter -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="Title">
		<meta name="twitter:description" content="Description">
		<meta name="twitter:site" content="@twitteraccount">
		<meta name="twitter:creator" content="@qubicle_id">
		<meta name="twitter:url" content="/_url">
		<meta name="twitter:image" content="assetss/images/img-to-share.jpg">
	
		<!-- Favicons -->
		<link rel="apple-touch-icon" href='{{ url_for("static", filename="assetss/images/favicons/apple-touch-icon-57x57.png") }}' sizes="57x57">
		<link rel="apple-touch-icon" href='{{ url_for("static", filename="assetss/images/favicons/apple-touch-icon-60x60.png") }}' sizes="60x60">
		<link rel="apple-touch-icon" href='{{ url_for("static", filename="assetss/images/favicons/apple-touch-icon-72x72.png") }}' sizes="72x72">
		<link rel="apple-touch-icon" href='{{ url_for("static", filename="assetss/images/favicons/apple-touch-icon-76x76.png") }}' sizes="76x76">
		<link rel="apple-touch-icon" href='{{ url_for("static", filename="assetss/images/favicons/apple-touch-icon-114x114.png") }}' sizes="114x114">
		<link rel="icon" type="image/png" href='{{ url_for("static", filename="assetss/images/favicons/favicon-16x16.png") }}' sizes="16x16">
		<link rel="icon" type="image/png" href='{{ url_for("static", filename="assetss/images/favicons/favicon-32x32.png") }}' sizes="32x32">
		<link rel="icon" type="image/png" href='{{ url_for("static", filename="assetss/images/favicons/favicon-96x96.png") }}' sizes="96x96">
		<link rel="shortcut icon" type="image/ico" href='{{ url_for("static", filename="assetss/images/favicons/favicon.ico") }}'>
		<link rel="manifest" href='{{ url_for("static", filename="assetss/images/favicons/manifest.json") }}'>
		<meta name="theme-color" content="#fafafa">
	
		<link href="https://fonts.googleapis.com/css?family=PT+Sans|Sarabun:400,600,700&display=swap" rel="stylesheet">
	
		<!-- Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href='{{ url_for("static", filename="landing/css/style.css") }}'>
	</head>
	
	
	<body>
		<div class="navbars">
		    <div class="navbars__inner">
		        <div class="logo">
		            <img src="{{ url_for('static', filename='assetss/images/pintar-log.svg') }}">
		        </div>
		        <div class="centered-menu">
		            <a href="#">home</a>
		            <a href="#">abous us</a>
		            <a href="#">features</a>
		            <a href="#">contact us</a>
		        </div>
		        <div class="right-menu">
		            <a href="login" class="rounded">login</a>
		        </div>
		    </div>
		</div>

		<div class="hero-section">
			<div class="hero-section__inner">
				<img class="d1 rellax" data-rellax-speed="2" src="{{ url_for('static', filename='assetss/images/daun-blur.png') }}">
				<img class="d2 rellax" data-rellax-speed="5" src="{{ url_for('static', filename='assetss/images/daun-blur-2.png') }}">
				<img class="d3 rellax" data-rellax-speed="8" src="{{ url_for('static', filename='assetss/images/daun-blur-3.png') }}">
				<div class="row">
					<div class="col-md-6 rellax" data-rellax-speed="-4">
						<h1>accelerate your business with pintar.ai</h1>
					</div>
					<div class="col-md-6 rellax" data-rellax-speed="-4">
						<h4>pintar.ai is a data-driven visually interactive big data analytics interprator</h4>
					</div>
				</div>
				<div class="ss rellax" data-rellax-speed="2">
					<img src="{{ url_for('static', filename='assetss/images/ss.png') }}">
				</div>
			</div>
		</div>
		<div class="overlay-space">

		</div>


		<div class="about-section">
			<div class="about-section__inner">
				<div class="row">
					<div class="col-md-4">
						<img src="{{ url_for('static', filename='assetss/images/about.png') }}">
					</div>
					<div class="col-md-8">
						<div class="about-content">
							<h1>who we are.</h1>
							<p><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat dolor risus, sed maximus mi tincidunt et.</b><br/><br/>

							Vivamus rutrum rhoncus felis consequat gravida. Curabitur non nunc efficitur, accumsan risus sit amet, sollicitudin tellus. Donec quis enim sit amet ex aliquam dignissim sed ac nisl. Aliquam nec purus eros.</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="features">
			<div class="features__inner">
				<img class="left-el" src="{{ url_for('static', filename='assetss/images/lp-pa-left.png') }}">
				<img class="right-el" src="{{ url_for('static', filename='assetss/images/lp-pa-right.png') }}">
				<div class="f-title">
					<h2>features</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br/>
						Quisque consequat dolor.
						</p>
				</div>
				<div class="f-section">
					<div class="row">
						<div class="col-md-7">
							<div class="f-img">
								<img src="{{ url_for('static', filename='assetss/images/ss.png') }}">
							</div>
						</div>
						<div class="col-md-5">
							<div class="f-content">
								<h2>Less code</h2>
								<p><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat dolor risus, sed maximus mi tincidunt et.</b></p>
								<p>Vivamus rutrum rhoncus felis consequat gravida. Curabitur non nunc efficitur, accumsan risus sit amet, sollicitudin tellus. Donec quis enim sit amet ex aliquam dignissim sed ac nisl. Aliquam nec purus eros. 
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="f-section">
					<div class="row">
						<div class="col-md-5">
							<div class="f-content r-algn">
								<h2>Less code</h2>
								<p><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat dolor risus, sed maximus mi tincidunt et.</b></p>
								<p>Vivamus rutrum rhoncus felis consequat gravida. Curabitur non nunc efficitur, accumsan risus sit amet, sollicitudin tellus. Donec quis enim sit amet ex aliquam dignissim sed ac nisl. Aliquam nec purus eros. 
								</p>
							</div>
						</div>
						<div class="col-md-7">
							<div class="f-img">
								<img src="{{ url_for('static', filename='assetss/images/ss.png') }}">
							</div>
						</div>
					</div>
				</div>
				<div class="f-section">
					<div class="row">
						<div class="col-md-7">
							<div class="f-img">
								<img src="{{ url_for('static', filename='assetss/images/ss.png') }}">
							</div>
						</div>
						<div class="col-md-5">
							<div class="f-content">
								<h2>Less code</h2>
								<p><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat dolor risus, sed maximus mi tincidunt et.</b></p>
								<p>Vivamus rutrum rhoncus felis consequat gravida. Curabitur non nunc efficitur, accumsan risus sit amet, sollicitudin tellus. Donec quis enim sit amet ex aliquam dignissim sed ac nisl. Aliquam nec purus eros. 
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footers">
			<div class="footers__inner">
				<div class="row">
					<div class="col-md-6">
						<h1>Conversational AI solution<br/>for smarter life.</h1>
						<h4>Create an intelligent assistant to<br/>
							serve your customer </h4>
					</div>
					<div class="col-md-6">
						<a href="register" class="cta-ftr">Daftar Sekarang</a>
					</div>
				</div>
			</div>
		</div>


	    <!-- Scripts -->
	    <script src='{{ url_for("static", filename="landing/js/libs.js") }}'></script>
	    <script src='{{ url_for("static", filename="landing/js/app.js") }}'></script>
	</body>
</html>