<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
		<title>Package</title>
		<meta name="description" content="Description">
		<meta name="keywords" content="social content network, social network">
		<meta name="robots" content="index">
		<meta name="author" content="Author">
		<meta name="designer" content="Designer">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	
		<!-- Facebook -->
		<meta property="og:title" content="Title">
		<meta property="og:site_name" content="Site Name">
		<meta property="og:description" content="Description">
		<meta property="og:url" content="/_url">
		<meta property="og:image" content='{{ url_for("static", filename="assets/images/img-to-share.jpg") }}'>
		<meta property="og:type" content="website">
	
		<!-- Google+ -->
		<meta itemprop="name" content="Name">
		<meta itemprop="description" content="Description">
		<meta itemprop="image" content='{{ url_for("static", filename="assets/images/img-to-share.jpg") }}'>
	
		<!-- Twitter -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="Title">
		<meta name="twitter:description" content="Description">
		<meta name="twitter:site" content="@twitteraccount">
		<meta name="twitter:creator" content="@qubicle_id">
		<meta name="twitter:url" content="/_url">
		<meta name="twitter:image" content='{{ url_for("static", filename="assets/images/img-to-share.jpg")}}'>
	
		<!-- Favicons -->
		<link rel="apple-touch-icon" href='{{ url_for("static", filename="assets/images/favicons/apple-touch-icon-57x57.png")}}' sizes="57x57">
		<link rel="apple-touch-icon" href='{{ url_for("static", filename="assets/images/favicons/apple-touch-icon-60x60.png")}}' sizes="60x60">
		<link rel="apple-touch-icon" href='{{ url_for("static", filename="assets/images/favicons/apple-touch-icon-72x72.png")}}' sizes="72x72">
		<link rel="apple-touch-icon" href='{{ url_for("static", filename="assets/images/favicons/apple-touch-icon-76x76.png")}}' sizes="76x76">
		<link rel="apple-touch-icon" href='{{ url_for("static", filename="assets/images/favicons/apple-touch-icon-114x114.png")}}' sizes="114x114">
		<link rel="icon" type="image/png" href='{{ url_for("static", filename="assets/images/favicons/favicon-16x16.png")}}' sizes="16x16">
		<link rel="icon" type="image/png" href='{{ url_for("static", filename="assets/images/favicons/favicon-32x32.png")}}' sizes="32x32">
		<link rel="icon" type="image/png" href='{{ url_for("static", filename="assets/images/favicons/favicon-96x96.png")}}' sizes="96x96">
		<link rel="shortcut icon" type="image/ico" href='{{ url_for("static", filename="assets/images/favicons/favicon.ico")}}'>
		<link rel="manifest" href='{{ url_for("static", filename="assets/images/favicons/manifest.json")}}'>
		<meta name="theme-color" content="#fafafa">
	
		<!-- Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href='{{ url_for("static", filename="assets/css/style.css")}}'>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Sarabun:400,800" rel="stylesheet">
	</head>
	<body oncontextmenu="return false;">
		<nav class="navbar navbar-bisnis">
		    <div class="container-fluid">
		      <!-- Brand and toggle get grouped for better mobile display -->
		      <div class="navbar-header">
		        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		          <span class="sr-only">Toggle navigation</span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand" href="#">Datalabs@<span>pintar.ai</span></a>
		      </div>
		  
		      <!-- Collect the nav links, forms, and other content for toggling -->
		      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		        <ul class="nav navbar-nav navbar-right">
		        	<li><a href="#" onclick="logout()">Logout</a></li>
		          <!--<li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
		            <ul class="dropdown-menu">
		              <li><a href="#">Action</a></li>
		              <li><a href="#">Another action</a></li>
		              <li><a href="#">Something else here</a></li>
		              <li role="separator" class="divider"></li>
		              <li><a href="#">Separated link</a></li>
		            </ul>
		          </li>-->
		        </ul>
		      </div><!-- /.navbar-collapse -->
		    </div><!-- /.container-fluid -->
		  </nav>	
		<div class="header-box"></div>
		<div class="container">
			<div class="main-container">
				<div class="row">
                    <div class="col-md-2">
                        <div class="profile-user">
                            <img src='{{ url_for("static", filename="assets/img/profile.png") }} '>
                            <h3>{{ session['name']}}</h3>
                            
                            <p>{{ session['user_id']}}</p>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="package">
                            <h1 class="title">Select Package</h1>
                            <div class="package-item">
                                <div class="row">
									{% for package in packages %}
                                    <div class="col-md-4">
                                        <div class="pckg">
                                            <img src='/static/assets/img/{{package[6]}}'>
                                            <h4>PAKET</h4>
                                            <h2>{{ package[1] }}</h2>
                                            <p>{{ package[2] }}</p>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <p class="benefit"><span>{{ package[3] }}</span>CPU</p>
                                                </div>
                                                <div class="col-md-8">
                                                    <p class="benefit"><span>{{ package[4] }}MB</span>Memory</p>
                                                </div>
                                            </div>
                                            <a href="subscribe_package/{{ package[0] }}">Pilih Paket</a>
                                        </div>
									</div>
									{% endfor %}
                                    <!-- <div class="col-md-4">
                                        <div class="pckg">
                                            <h4>PAKET</h4>
                                            <h2>SKY</h2>
                                            <p>Paket untuk Pertumbuhan sebagai pengguna data.</p>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <p class="benefit"><span>3</span>CPU</p>
                                                </div>
                                                <div class="col-md-8">
                                                    <p class="benefit"><span>6GB</span>Memory</p>
                                                </div>
                                            </div>
                                            <a href="subscribe_package2">Pilih Paket</a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="pckg">
                                            <h4>PAKET</h4>
                                            <h2>GALAXY</h2>
                                            <p>Paket untuk Expert sebegai pengguna data.</p>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <p class="benefit"><span>4</span>CPU</p>
                                                </div>
                                                <div class="col-md-8">
                                                    <p class="benefit"><span>10GB</span>Memory</p>
                                                </div>
                                            </div>
                                            <a href="subscribe_package3">Pilih Paket</a>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	    <!-- Scripts -->
	    <script src='{{ url_for("static", filename="assets/js/libs.js") }}'></script>
	    <script src='{{ url_for("static", filename="assets/js/app.js") }}'></script>
	    <script>
			history.pushState(null, null, location.href);
				window.onpopstate = function () {
					history.go(1);
				};
		</script>
	</body>
</html>
