// - - - - - - - - - - - - - - - - - - -
// - - base

// - - project defaults for base elements - h1-h6, p, a, etc.
h1, h2, h3, h4, h5, h6, a {
    font-family: 'Sarabun', sans-serif !important;
}

body {
    font-family: 'Open Sans', sans-serif !important;
}

.container {
    padding-top: 30px;
}